* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: orange;
  padding: 10px;
}

ul {
  display: flex;
  list-style: none;
}

li {
  padding: 0px 15px 0px 15px;
}
