* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: orange;
  padding: 10px;
  border-radius: 5px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  padding: 0px 15px 0px 15px;
}
nav button {
  border: none;
  background-color: orange;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

nav button:hover {
  background-color: darkorange;
}

nav input {
  border: none;
  border-radius: 5px;
  height: 25px;
}

nav input:focus {
  outline: none;
}

nav form button {
  background-color: white;
  margin-left: 5px;
  color: orange;
}

nav form button:hover {
  background-color: rgb(249, 217, 191);
}

nav input::placeholder {
  padding-left: 15px;
}

p {
  margin-top: 5px;
  color: grey;
}

main {
  background-color: #f6f6ef;
}

main li {
  list-style: none;
  margin-left: 10px;
  padding: 5px;
}
